# <span style="color:forestgreen">Superstore Sales Analysis</span>

## Exploring The Data

In [53]:
%pip install kagglehub matplotlib

Requirement already satisfied: kagglehub in c:\users\homepc\anaconda3\lib\site-packages (0.3.12)
Requirement already satisfied: matplotlib in c:\users\homepc\anaconda3\lib\site-packages (3.9.2)
Requirement already satisfied: packaging in c:\users\homepc\anaconda3\lib\site-packages (from kagglehub) (24.1)
Requirement already satisfied: pyyaml in c:\users\homepc\anaconda3\lib\site-packages (from kagglehub) (6.0.1)
Requirement already satisfied: requests in c:\users\homepc\anaconda3\lib\site-packages (from kagglehub) (2.32.3)
Requirement already satisfied: tqdm in c:\users\homepc\anaconda3\lib\site-packages (from kagglehub) (4.66.5)
Requirement already satisfied: contourpy>=1.0.1 in c:\users\homepc\anaconda3\lib\site-packages (from matplotlib) (1.2.0)
Requirement already satisfied: cycler>=0.10 in c:\users\homepc\anaconda3\lib\site-packages (from matplotlib) (0.11.0)
Requirement already satisfied: fonttools>=4.22.0 in c:\users\homepc\anaconda3\lib\site-packages (from matplotlib) (4.51.0)
Requirement already satisfied: kiwisolver>=1.3.1 in c:\users\homepc\anaconda3\lib\site-packages (from matplotlib) (1.4.4)
Requirement already satisfied: numpy>=1.23 in c:\users\homepc\anaconda3\lib\site-packages (from matplotlib) (1.26.4)
Requirement already satisfied: pillow>=8 in c:\users\homepc\anaconda3\lib\site-packages (from matplotlib) (10.4.0)
Requirement already satisfied: pyparsing>=2.3.1 in c:\users\homepc\anaconda3\lib\site-packages (from matplotlib) (3.1.2)
Requirement already satisfied: python-dateutil>=2.7 in c:\users\homepc\anaconda3\lib\site-packages (from matplotlib) (2.9.0.post0)
Requirement already satisfied: six>=1.5 in c:\users\homepc\anaconda3\lib\site-packages (from python-dateutil>=2.7->matplotlib) (1.16.0)
Requirement already satisfied: charset-normalizer<4,>=2 in c:\users\homepc\anaconda3\lib\site-packages (from requests->kagglehub) (3.3.2)
Requirement already satisfied: idna<4,>=2.5 in c:\users\homepc\anaconda3\lib\site-packages (from requests->kagglehub) (3.7)
Requirement already satisfied: urllib3<3,>=1.21.1 in c:\users\homepc\anaconda3\lib\site-packages (from requests->kagglehub) (2.2.3)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\homepc\anaconda3\lib\site-packages (from requests->kagglehub) (2025.4.26)
Requirement already satisfied: colorama in c:\users\homepc\anaconda3\lib\site-packages (from tqdm->kagglehub) (0.4.6)
Note: you may need to restart the kernel to use updated packages.

### Importing Packages

In [55]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
import seaborn as sns

In [56]:
df = pd.read_csv(r"C:\Users\HomePC\Documents\School\anaconda_projects\Programs\Project Data Sci & Analytics\train.csv")

In [57]:
df.head()

,Row ID,Order ID,Order Date,Ship Date,Ship Mode,Customer ID,Customer Name,Segment,Country,City,State,Postal Code,Region,Product ID,Category,Sub-Category,Product Name,Sales
0,1,CA-2017-152156,08/11/2017,11/11/2017,Second Class,CG-12520,Claire Gute,Consumer,United States,Henderson,Kentucky,42420.0,South,FUR-BO-10001798,Furniture,Bookcases,Bush Somerset Collection Bookcase,261.9600
1,2,CA-2017-152156,08/11/2017,11/11/2017,Second Class,CG-12520,Claire Gute,Consumer,United States,Henderson,Kentucky,42420.0,South,FUR-CH-10000454,Furniture,Chairs,"Hon Deluxe Fabric Upholstered Stacking Chairs,...",731.9400
2,3,CA-2017-138688,12/06/2017,16/06/2017,Second Class,DV-13045,Darrin Van Huff,Corporate,United States,Los Angeles,California,90036.0,West,OFF-LA-10000240,Office Supplies,Labels,Self-Adhesive Address Labels for Typewriters b...,14.6200
3,4,US-2016-108966,11/10/2016,18/10/2016,Standard Class,SO-20335,Sean O'Donnell,Consumer,United States,Fort Lauderdale,Florida,33311.0,South,FUR-TA-10000577,Furniture,Tables,Bretford CR4500 Series Slim Rectangular Table,957.5775
4,5,US-2016-108966,11/10/2016,18/10/2016,Standard Class,SO-20335,Sean O'Donnell,Consumer,United States,Fort Lauderdale,Florida,33311.0,South,OFF-ST-10000760,Office Supplies,Storage,Eldon Fold 'N Roll Cart System,22.3680

In [58]:
df.info(_)

ValueError: The truth value of a DataFrame is ambiguous. Use a.empty, a.bool(), a.item(), a.any() or a.all().

### Filling Null values

In [99]:
df["Postal Code"].fillna(0,  inplace = True)
df ["Postal Code"] = df["Postal Code"].astype(int)

C:\Users\HomePC\AppData\Local\Temp\ipykernel_27404\2039719930.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df["Postal Code"].fillna(0,  inplace = True)

In [ ]:
df.info()

### Checking for Duplicates

In [ ]:
if df.duplicated().sum() > 0: #
    print("Duplicate exists")
else:
    print("Doesn't Exist")

In [ ]:
df.head(100)

## Revenue by Customer Segment
- Will help us understand our largest buyers and also improve our customer service to each segment.
- How we can improve customer services to them and ensure customer loyalty and satisfication throught the year.

### Types of Customers

In [ ]:
types_of_customers = df['Segment'].unique()
print (types_of_customers)

In [ ]:
number_of_customers = df['Segment'].value_counts().reset_index()
number_of_customers = number_of_customers.rename(columns={'Segment' : 'Type Of Customer'})
print (number_of_customers)

### Visualize the distribution of different types of customers.

In [ ]:
plt.pie(number_of_customers['count'], labels=number_of_customers['Type Of Customer'], autopct='%1.1f%%')

## Customer Sales Insights
1. Understanding Customer Need

2. Improving Customer Engagement
3. Bridging Marketing and Sales

4. Enhancing Efficiency: By understanding customer behavior and preferences, you can streamline your processes, making them more efficient and reducing wasted efforts.

5. Building Realistic Expectations: Insights help in setting realistic expectations around your products and services,

In [ ]:
sales_per_segment = df.groupby('Segment')['Sales'].sum().reset_index()
sales_per_segment = sales_per_segment.rename(columns={'Segment' : 'Type Of Customer', 'Sales' : 'Total Sales'})

print(sales_per_segment)

In [ ]:
plt.bar(sales_per_segment['Type Of Customer'], sales_per_segment['Total Sales'])

In [ ]:
plt.pie(sales_per_segment['Total Sales'], labels=sales_per_segment['Type Of Customer'], autopct='%1.1f%%')

In [ ]:
df.head(3)

## Exploring Customer Loyalty

### The Customers Info Table

In [ ]:
customers_order_frequency = df.groupby(['Customer ID', 'Customer Name', 'Segment'])['Order ID'].count().reset_index()
customers_order_frequency.rename(columns={'Order ID' : 'Total Orders'}, inplace = True)

print(customers_order_frequency)

### Customers Segment with The Highest Orders

In [ ]:
repeat_customers = customers_order_frequency[customers_order_frequency['Total Orders'] >= 1]
repeat_customers_sorted = repeat_customers.sort_values(by='Total Orders', ascending = False)

print(repeat_customers_sorted.head(20).reset_index(drop=True))

### Customer grouped by Sales

In [ ]:
customer_sales = df.groupby(['Customer ID', 'Customer Name', 'Segment'])['Sales'].sum().reset_index()
print(customer_sales)

### Top Spenders

In [ ]:

top_spenders = customer_sales.sort_values(by='Sales', ascending=False)
print(top_spenders.head(12).reset_index(drop=True))

## Superstore Shipping Strategies

In [ ]:
types_of_customers = df['Ship Mode'].unique()
print(types_of_customers)

In [ ]:
shipping_model = df['Ship Mode'].value_counts().reset_index()
shipping_model = shipping_model.rename(columns={'index':'Use Frequency', 'Ship Mode':'Mode Of Shipment', 'count' : 'Use Frequency'})
print(shipping_model)

In [ ]:
plt.pie(shipping_model['Use Frequency'], labels=shipping_model['Mode Of Shipment'], autopct='%1.1f%%')
plt.title('No Orders by Mode of Shipment')
plt.show()

## Georgraphical Market Analysis

### Orders by State

In [ ]:
state = df['State'].value_counts().reset_index()
state = state.rename(columns={'index':'State', 'State':'Number Of Customers'})
print(state.head(20))

### Orders by City

In [ ]:
city = df['City'].value_counts().reset_index()
city.head(25)

### Top Sales by City

In [ ]:
city_sales = df.groupby(['City'])['Sales'].sum().reset_index()
top_city_sales = city_sales.sort_values (by='Sales', ascending=False)
top_city_sales.head(10).reset_index(drop=True)

### Bottom Sales by City

In [ ]:
bottom_city_sales = city_sales.sort_values (by='Sales', ascending=True)
bottom_city_sales.head(10).reset_index(drop=True)

### Top Sales by State

In [ ]:
state_sales = df.groupby(['State'])['Sales'].sum().reset_index()
top_sales = state_sales.sort_values(by='Sales', ascending=False)
top_sales.head(10).reset_index(drop=True)

### Bottom Sales by State

In [ ]:
bottom_sales = state_sales.sort_values(by='Sales', ascending=True)
bottom_sales.head(10).reset_index(drop=True)

### State-City Sales

In [ ]:
state_city_sales = df.groupby(['State', 'City'])['Sales'].sum().reset_index()
print(state_city_sales.head(20))

## Product Performance Insight

### Category of Products

In [ ]:
products = df['Category'].unique()
print(products)

### List of  Sub-Category

In [ ]:
product_subcategory = df['Sub-Category'].unique()
print(product_subcategory)

### Total Sub-Category for @ Category

In [ ]:
subcategory_count = df.groupby('Category')['Sub-Category'].nunique().reset_index()
subcategory_count = subcategory_count.sort_values(by='Sub-Category', ascending = False)
print(subcategory_count)

### Sales by Category & Sub- Category

In [ ]:
subcategory_count_sales = df.groupby(['Category', 'Sub-Category'])['Sales'].sum().reset_index()
subcategory_count_sales = subcategory_count_sales.sort_values(by='Sales', ascending = False)

print(subcategory_count_sales)

### Top Sales by Category

In [ ]:

product_category = df.groupby(['Category'])['Sales'].sum().reset_index()
top_product_category = product_category.sort_values(by='Sales', ascending = False)
print(top_product_category.reset_index(drop=True))

### Sales by Category visual

In [ ]:
plt.pie(top_product_category['Sales'], labels=top_product_category['Category'], autopct='%1.1f%%')
plt.title('Sales Distribution by Product Category')
plt.show()

### Sales by Sub-Caregory Visual

In [ ]:
subcategory_count_sales = subcategory_count_sales.sort_values(by='Sales', ascending = True)
plt.barh(subcategory_count_sales['Sub-Category'], subcategory_count_sales['Sales'])
plt.title('Sales Distribution by Product Sub-Category')

## Comprehensive  Sales Analysis

In [ ]:

df['Order Date'] = pd.to_datetime(df['Order Date'], dayfirst = True)
yearly_sales = df.groupby(df['Order Date'].dt.year)['Sales'].sum()
yearly_sales = yearly_sales.reset_index()
yearly_sales = yearly_sales.rename(columns={'Order Date' : 'Year', 'Sales': 'Total Sales'})

yearly_sales.head()

In [ ]:

plt.bar(yearly_sales['Year'], yearly_sales['Total Sales'])
plt.title('Total sales by Year')

## Tracking Sales Analysis

### Yearly sales

In [ ]:
plt.plot(yearly_sales['Year'], yearly_sales['Total Sales'], marker='o', linestyle='-',color= 'green')
plt.title('Total sales by Year')

### Total Quartely Sales

In [ ]:
df['Order Date'] = pd.to_datetime(df['Order Date'], dayfirst=True)
year_sales = df[df['Order Date'].dt.year == 2018]
quarterly_sales = year_sales.resample('Q', on='Order Date')['Sales'].sum()
quarterly_sales = quarterly_sales.reset_index()
quarterly_sales = quarterly_sales.rename(columns = {'Order Date': 'Quarter', 'Sales' : 'Total Sales'})

quarterly_sales.head()

In [ ]:
plt.plot(quarterly_sales['Quarter'], quarterly_sales['Total Sales'], marker = 'o', linestyle = '--')

plt.tight_layout()
plt.xticks(rotation=75)
plt.title('Quartely sales Amount')
plt.show()

### Monthly Sales

In [ ]:
df['Order Date'] = pd.to_datetime(df['Order Date'], dayfirst = True)
yearly_sales = df[df['Order Date'].dt.year == 2018]
monthly_sales = yearly_sales.resample('M', on = 'Order Date')['Sales'].sum()
monthly_sales = monthly_sales.reset_index()
monthly_sales = monthly_sales.rename(columns={'Order Date':'Month', 'Sales' : 'Total Monthly Sales'})

monthly_sales.head

In [ ]:
plt.plot(monthly_sales['Month'], monthly_sales['Total Monthly Sales'], marker = 'o', linestyle = '--')
plt.title('Monthly Sales Trend')